# Custom mongostart scripts starting mongo with configuration file
alias mongostart="sudo mongod -f {{ mongodb_conf_path }}"

# Custom mongostop alias killing mongo process
mongostop_func () {
local mongopid=`sudo less {{ mongodb_lock_path }}`;
if [[ $mongopid =~ [[:digit:]] ]]; then
  sudo kill -15 $mongopid;
  echo mongod process $mongopid terminated;
else
  echo mongo process $mongopid not exist;
fi
}
alias mongostop="mongostop_func"